<!DOCTYPE html>
<html>
  <head>
    <title>Calvin and Hobbes: Remixed</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <%= image_tag "c_and_h_logo.jpg", :class => "logo"%>
        Calvin and Hobbes: REMIXED
      

        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to about_path, :class => "nav-link" do %>
              About
            <% end %>
          </li>
        </ul>
    </nav>

    <br />
    <br />





    <%= yield %>

    
  </body>
</html>
